@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&family=Poppins&display=swap");

html,
body {
  height: 100%;
  margin: 0;
}
* {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  box-sizing: border-box;
  background-color: #24252a;
  color: #edf0f1;
}

li,
a,
button,
p {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-size: 20px;
  color: #edf0f1;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
}
h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-size: 32px;
  color: #88dcf8;
}

.top_header {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-size: 32px;
  color: #edf0f1;
  text-decoration: none;
}

.nav_links {
  list-style: none;
}
.nav_links li {
  position: relative;
  right: 50px;
  display: inline-block;
  padding: 20px;
}
.nav_links li a {
  transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
  color: #0088a9;
}

button {
  padding: 2px 10px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button :hover {
  background-color: rgba(0, 136, 169, 0.8);
}

.logo {
  width: 10%;
}
.logo img {
  width: 50%;
}

.saturnVimg {
  width: 75%;
  position: relative;
  animation: example;
  animation-duration: 2s;
  animation-iteration-count: 1;
}

@keyframes example {
  0% {
    left: 0px;
    top: 200px;
  }
  100% {
    left: 0px;
    top: 0px;
  }
}

.grid2x2 {
  margin-top: 25px;
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.grid2x2 > div {
  display: flex;
  flex-basis: calc(50% - 40px);
  justify-content: space-between;
  flex-direction: column;
}
.grid2x2 > div > div {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.box {
  margin: 10px;
}

.rockets_types {
  display: flex;
  justify-content: space-evenly;
}

.rockets_types img {
  width: 450px;
  height: 450px;
  object-fit: cover;
}


table {
  table-layout: fixed;
}
td,
th,
tr {
  border: 3px solid black;
  text-align: center;
}
th {
  font-size: 24px;
  color: rgb(145, 229, 208);
}

form {
  text-align: center;
  font-size: 32px;
}
input {
  width: 250;
  height: 30px;
  background-color: #0b2e4b;
}

.feedbackText {
  width: 500px;
  height: 500px;
}
